.color-lists {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.color-container {
    background-color: #ffffff; 
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 15px
}

.selected {
    border: 2px solid red; 
}

.color-info {
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.color-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.gradation-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border:1px solid black;
    box-shadow: 6px 4px 8px;
}

.gradation {
    width : 200px;
    height : 200px;
}

#button-container {
    position: relative;
}

body {
    background-color: white;
}

body.dark-mode {
    background-color: #102a43;
}



